<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title ng-bind="title">Sample PFE application</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- build:css css/cdn.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->


<!-- build:css css/app.css -->
<!-- injector:css -->
<!-- endinjector -->
<!-- endbuild -->


<!--[if lte IE 9]>
        <script type="text/javascript"> 
			(
			    function(w) {
			        var console = {};
			        console.log = function() {};
                    console.error = function() {};
			        w.console = console;
			    }
			)(window);
        </script>
<![endif]-->

<!-- build:js js/cdn.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->


<!-- build:js js/app.js -->
<!-- injector:js -->
<!-- endinjector -->
<!-- endbuild -->

</head>


<!--
    Notice the ng-app="pfe" which is compulsory for
    application initialization. You find it when initializing application
    with angular.module('pfe')
-->
<body id="pfe" ng-app="pfe">

<div ng-include="'modules/person/header.html'" class="header"></div>

<div id="wrap">
    <div class="loggedin-view-content container-fluid">
        <div id="content" class="row" ui-view>
            <div class="col-sm-12">
                <p>Chargement en cours</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>